@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);


/* NAA DIRI TANAN STYLING */


.container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}


/* LOGO STYLING */
.logoContainer {
  width: 40%;
  height: 100vh;
  background-color: #030133;
  text-align: center;
  padding-top: 250px;
  margin: -10px;
  padding: 10px;
}

.logoContainer img {
  width: 100%;
}

/* LOGIN AND TITLE STYLING */
.titleContainer {
  width: 55%;
  text-align: center;
  height: 50vh;
  margin-top: 100px;
}

.titleContainer h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: -5%;
}

.titleContainer p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}






/* adjust screen size to cp */
@media (max-width: 500px) {
  .logoContainer {
    width: 100%;
    padding-top: 150px;
  }

  .titleContainer {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

}

/* adjust screen size for tablets */
@media (max-width: 800px) {
  .logoContainer {
    width: 100%;
    padding-top: 150px;
  }

  .titleContainer {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
}